<div class="container">


    <aside class="sidebar">
    
    <mat-nav-list>
      <a mat-list-item href="#" class="active-link"><mat-icon>home</mat-icon> Home</a>
      <a mat-list-item href="#"><mat-icon>folder_open</mat-icon> Projetos</a>
      <a mat-list-item href="#"><mat-icon>check_box</mat-icon> Tarefas</a>
      <a mat-list-item href="#"><mat-icon>group</mat-icon> Equipa</a>
      <a mat-list-item href="#"><mat-icon>settings</mat-icon> Definições</a>
    </mat-nav-list>

    <div class="upgrade-card">
      <h4>Upgrade para Pro</h4>
      <p>Obtenha 1 mês grátis e desbloqueie mais funcionalidades.</p>
      <button mat-flat-button color="primary">Upgrade</button>
    </div>
  </aside>




    <div *ngIf="isLoading" class="loading-spinner">
        <p>Fetching the best solution...</p>
        <mat-spinner color="primary" diameter="100"></mat-spinner>

    </div>
    <div *ngIf="!isLoading && data">
        <mat-card class="summary-card">
            <mat-card-header> 
                <mat-card-title>Optmized Delivery Plan</mat-card-title>
                <mat-card-subtitle>Summary of the found solution</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="summary-content"> 
                <div>
                    <span>Total Cost</span>
                    <p>{{data.best_total_cost | currency: 'BRL'}}</p>
                </div>
            
                <div>
                    <span>Generation Found</span>
                    <p>{{data.found_at_generation}}</p>
                </div>
            </mat-card-content>
        </mat-card>



        <img [src]="getSanitizedImageUrl(data!.solution_image_base64)" alt="Gráfico da melhor rota encontrada">
    </div>


</div>

